<header>
    <div class="container-header">
        <div class="img"><a href="#"><img src="/assets/img/begam.png" alt=""></a></div>
        <div class="content-header">
            <div>HOME</div>
            <div>TOURNAMENTS</div>
            <div>PAGES</div>
            <div>CONTACT</div>
        </div>
        <div class="logsign">
            <a routerLink="login"><div class="login-head">LOGIN</div></a>
            <a routerLink="signup"><div class="sign-head">SIGNUP</div></a>
        </div>
    </div>
</header>