<footer>
    <div class="img">
        <div class="container">
            <div class="begam"><img src="/assets/img/begam.png" alt=""></div>
            <div class="content">
                <div class="home">Home</div>
                <div class="home">ABOUT US</div>
                <div class="home">CONTACT</div>
            </div>
            <div class="socials">
                <div class="social">Facebook</div>
                <div class="social">Instagram</div>
                <div class="social">Twitter</div>
            </div>
        </div>
        <hr class="style-one">
        <div class="center">Copyright © 2022. All Rights Reserved By MarwenTh</div>
    </div>
</footer>