<main>
    <div class="img">
       <app-header></app-header>
        <div class="container">
            <div class="play">PLAY UNLIMITED</div>
            <div class="tournament">TOURNAMENTS</div>
            <div class="compete">Compete in Free and Paid entry Tournaments. Transform your games to real money eSports</div>
            <a routerLink="signup"><div class="btn">GET STARTED</div></a>
        </div>
    </div>
    <div class="second">
        <div class="games">
            <div class="cover">
                <div class="content">
                    <div class="available">available games</div>
                    <div class="constantly">We are constantly adding new games</div>  
                    <div class="group-img"> 
                        <div class="game-1"><img src="assets/img/game-1.png" alt=""></div>
                        <div class="game-1"><img src="assets/img/game-2.png" alt=""></div>
                        <div class="game-1"><img src="assets/img/game-3.png" alt=""></div>
                        <div class="game-1"><img src="assets/img/game-4.png" alt=""></div>
                        <div class="game-1"><img src="assets/img/game-4.png" alt=""></div>
                        <div class="game-1"><img src="assets/img/game-4.png" alt=""></div>
                        <div class="game-1"><img src="assets/img/game-4.png" alt=""></div>
                    </div>    
                </div>
            </div>
            <a routerLink="login"><div class="btn">JOIN NOW!!</div></a>
            <hr class="style-one">
            <div class="box">
                <div class="how">HOW IT WORKS</div>
                <div class="parag">It's easier than you think. 
                    Follow 4 simple easy steps</div>
            </div>
            <div class="icon-text">
                <div class="icons">
                    <div class="icon1"><img class="img1" src="/assets/img/icon1.png" alt=""></div>
                    <div class="icon2"><img class="img2" src="/assets/img/icon2.png" alt=""></div>
                    <div class="icon3"><img class="img3" src="/assets/img/icon3.png" alt=""></div>
                    <div class="icon4"><img class="img4" src="/assets/img/icon4.png" alt=""></div>
                </div>
            </div>
            <a href="#"><div class="btn">JOIN NOW!!</div></a>
        </div>
    </div>
    <div class="third">
        <div class="top">
            <div class="browse">BROWSE TOURNAMENTS</div>
            <div class="find">Find the perfect tournaments for you. 
                Head to head matches where you pick the game, rules and prize.</div>
        </div>
           <div class="first">
                <div class="first-content">
                    <img src="/assets/img/game-img-1.png" alt="">
                    <div class="whole-content">
                        <h1>MIX IT MONDAYS - CARRY ONLY</h1>
                        <div class="time">
                            <div class="time-1">Starts in 10d 2H 18M</div>
                            <div class="time-2">Apr 21, 5:00 AM EDT</div>
                        </div>
                        <hr class="style-two">
                        <div class="box-container">
                            <div class="box-1">
                                <div class="entry">ENTRY/PLAYER</div>
                                <div class="cost">10 CREDITS</div>
                            </div>
                            <div class="box-1">
                                <div class="entry">ENTRY/PLAYER</div>
                                <div class="cost">10 CREDITS</div>
                            </div>
                            <div class="box-1">
                                <div class="entry">ENTRY/PLAYER</div>
                                <div class="cost">10 CREDITS</div>
                            </div>
                            <div class="box-1">
                                <div class="entry">ENTRY/PLAYER</div>
                                <div class="cost">10 CREDITS</div>
                            </div>
                        </div>
                    </div>
                    <div class="prize">
                        <div class="dollar">739$</div>
                        <a href="#"><div>VIEW TOURNAMENT</div></a>
                        <div class="top-player">Top 3 Players Win a Cash Prize</div>
                    </div>
                </div>
           </div>
           <div class="first">
            <div class="first-content">
                <img src="/assets/img/game-img-1.png" alt="">
                <div class="whole-content">
                    <h1>MIX IT MONDAYS - CARRY ONLY</h1>
                    <div class="time">
                        <div class="time-1">Starts in 10d 2H 18M</div>
                        <div class="time-2">Apr 21, 5:00 AM EDT</div>
                    </div>
                    <hr class="style-two">
                    <div class="box-container">
                        <div class="box-1">
                            <div class="entry">ENTRY/PLAYER</div>
                            <div class="cost">10 CREDITS</div>
                        </div>
                        <div class="box-1">
                            <div class="entry">ENTRY/PLAYER</div>
                            <div class="cost">10 CREDITS</div>
                        </div>
                        <div class="box-1">
                            <div class="entry">ENTRY/PLAYER</div>
                            <div class="cost">10 CREDITS</div>
                        </div>
                        <div class="box-1">
                            <div class="entry">ENTRY/PLAYER</div>
                            <div class="cost">10 CREDITS</div>
                        </div>
                    </div>
                </div>
                <div class="prize">
                    <div class="dollar">739$</div>
                    <a href="#"><div>VIEW TOURNAMENT</div></a>
                    <div class="top-player">Top 3 Players Win a Cash Prize</div>
                </div>
            </div>
       </div>
       <div class="first">
        <div class="first-content">
            <img src="/assets/img/game-img-1.png" alt="">
            <div class="whole-content">
                <h1>MIX IT MONDAYS - CARRY ONLY</h1>
                <div class="time">
                    <div class="time-1">Starts in 10d 2H 18M</div>
                    <div class="time-2">Apr 21, 5:00 AM EDT</div>
                </div>
                <hr class="style-two">
                <div class="box-container">
                    <div class="box-1">
                        <div class="entry">ENTRY/PLAYER</div>
                        <div class="cost">10 CREDITS</div>
                    </div>
                    <div class="box-1">
                        <div class="entry">ENTRY/PLAYER</div>
                        <div class="cost">10 CREDITS</div>
                    </div>
                    <div class="box-1">
                        <div class="entry">ENTRY/PLAYER</div>
                        <div class="cost">10 CREDITS</div>
                    </div>
                    <div class="box-1">
                        <div class="entry">ENTRY/PLAYER</div>
                        <div class="cost">10 CREDITS</div>
                    </div>
                </div>
            </div>
            <div class="prize">
                <div class="dollar">739$</div>
                <a href="#"><div>VIEW TOURNAMENT</div></a>
                <div class="top-player">Top 3 Players Win a Cash Prize</div>
            </div>
        </div>
   </div>
   <div class="first">
    <div class="first-content">
        <img src="/assets/img/game-img-1.png" alt="">
        <div class="whole-content">
            <h1>MIX IT MONDAYS - CARRY ONLY</h1>
            <div class="time">
                <div class="time-1">Starts in 10d 2H 18M</div>
                <div class="time-2">Apr 21, 5:00 AM EDT</div>
            </div>
            <hr class="style-two">
            <div class="box-container">
                <div class="box-1">
                    <div class="entry">ENTRY/PLAYER</div>
                    <div class="cost">10 CREDITS</div>
                </div>
                <div class="box-1">
                    <div class="entry">ENTRY/PLAYER</div>
                    <div class="cost">10 CREDITS</div>
                </div>
                <div class="box-1">
                    <div class="entry">ENTRY/PLAYER</div>
                    <div class="cost">10 CREDITS</div>
                </div>
                <div class="box-1">
                    <div class="entry">ENTRY/PLAYER</div>
                    <div class="cost">10 CREDITS</div>
                </div>
            </div>
        </div>
        <div class="prize">
            <div class="dollar">739$</div>
            <a href="#"><div>VIEW TOURNAMENT</div></a>
            <div class="top-player">Top 3 Players Win a Cash Prize</div>
        </div>
    </div>
</div>
<div class="first">
    <div class="first-content">
        <img src="/assets/img/game-img-1.png" alt="">
        <div class="whole-content">
            <h1>MIX IT MONDAYS - CARRY ONLY</h1>
            <div class="time">
                <div class="time-1">Starts in 10d 2H 18M</div>
                <div class="time-2">Apr 21, 5:00 AM EDT</div>
            </div>
            <hr class="style-two">
            <div class="box-container">
                <div class="box-1">
                    <div class="entry">ENTRY/PLAYER</div>
                    <div class="cost">10 CREDITS</div>
                </div>
                <div class="box-1">
                    <div class="entry">ENTRY/PLAYER</div>
                    <div class="cost">10 CREDITS</div>
                </div>
                <div class="box-1">
                    <div class="entry">ENTRY/PLAYER</div>
                    <div class="cost">10 CREDITS</div>
                </div>
                <div class="box-1">
                    <div class="entry">ENTRY/PLAYER</div>
                    <div class="cost">10 CREDITS</div>
                </div>
            </div>
        </div>
        <div class="prize">
            <div class="dollar">739$</div>
            <a href="#"><div>VIEW TOURNAMENT</div></a>
            <div class="top-player">Top 3 Players Win a Cash Prize</div>
        </div>
    </div>
</div>
    </div>
</main>
