<div class="nav"></div>
<div class="container">
    <a href="#"><div class="link">Back To Begam</div></a>
    <div class="img"><a href="#"><img src="/assets/img/begam.png" alt=""></a></div>
    <div class="cover">
        <form action="">
                <h4>Let's get started</h4>
            <div class="content">
                <label class="email" for="">Email</label>
                <input class="email-input" type="text" name="" id="" placeholder="Enter Your Email">
                <label class="email" for="">Username</label>
                <input class="email-input" type="text" name="" id="" placeholder="Enter Your Username">
                <label for="" class="pass">Password</label>
                <input type="password" class="pass-input" name="" id=""placeholder="Enter Your Password">
                <div class="forget"><span>Forget Your Password?</span><a href="#">Recover Password</a></div>
                <input type="submit" class="btn" style="color: White;" value="SIGN UP FREE">
            </div>
            <div class="or">OR</div>
            <div class="sign">Sign in with your</div>
            <div class="social">
                <div class="facebook"><img src="assets/img/facebook.png" alt=""></div>
                <div class="twitch"><img src="assets/img/twitch.png" alt=""></div>
                <div class="google"><img src="assets/img/google.png" alt=""></div>
            </div>
            <div class="content">
            <div class="forget"><span>Already have an account?</span><a routerLink="/login">Sign In</a></div>
            </div>
        </form>
    </div>
</div>